body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
h1 {
  text-align: center;
  margin: 20px 0;
}
#startDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
select, button {
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}
button:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
#status, #timer {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
#timer {
  margin-bottom: 20px;
}
#board {
  display: grid;
  width: 90vw;
  max-width: 400px;
  aspect-ratio: 1 / 1;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  border: 2px solid #000;
  background-color: green;
}
.cell {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stone {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}
.black {
  background-image: url("png/black_back.png");
  background-size: cover;
}
.white {
  background-image: url("png/front.png");
  background-size: cover;
}